div.layout main > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2.texto {
  font-family: "Play";
  margin-top: 64px;
  text-align: center;
  color: #555;
}

p {
  text-transform: lowercase;
  color: #555;
}

div.nome-funcao {
  margin-top: 32px;
  text-align: center;
  font-weight: bold;
}

div.nome-funcao p:first-child {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}

div.nome-funcao p:last-child {
  font-size: 1.1rem;
  margin-top: 4px;
}

@media only screen and (max-width: 769px) {
  section img:first-child {
    max-width: 200px;
    max-height: 200px;
  }

  p.texto {
    font-size: 24px;
  }

  p.nome {
    font-size: 26px;
  }

  p.nome-funcao {
    font-size: 18px;
  }
}

@media only screen and (max-width: 320px) {
  p.texto {
    font-size: 24px;
    text-align: center;
    line-height: 28px;
  }
}
